* {
  font-family: Arial, Helvetica, sans-serif;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  display: flex;
  /* place-items: center; */
  min-height: 100vh;
  padding: 2rem;
  background: #040140;
  justify-content: center;
  align-items: center;
  text-align: center;
}

h1 {
  font-size: 2em;
  color: #fff;
  margin-bottom: 1rem;
}

.new-item-form {
  display: flex;
  width: 100%;
  flex-direction: column;
  margin-bottom: 1rem;
}

.new-item-input {
  outline: none;
  background: white;
  padding: 0.5rem 1rem;
  /* border-radius: 0.25rem; */
  border: 1px solid white;
  width: 300px;
  color: #040140;
  font-size: 1rem;
}

.todo-btn {
  background: #040140;
  color: hsl(226, 100%, 90%);
  border: none;
  padding: 0.5rem;
  cursor: pointer;
  font-size: 1rem;
  border: 1px solid white;
}

button:hover {
  color: white;
}

button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

.todo {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #040140;
  color: white;
  padding: 0.75rem 1rem;
  border: 1px solid white;
  font-size: 1rem;
  /* margin-bottom: 1rem; */
}

ul {
  list-style-type: none;
}

.list {
  width: 100%;
  margin: 0;
  padding: 0;
  list-style: none;
}

.list li:has(input:checked) label {
  color: hsl(226, 20%, 60%)
}

.list li label {
  display: flex;
  gap: 0.5rem;
  cursor: pointer;
  align-items: center;
}

.list li:has(input:focus-visible) label {
  outline: 1px solid hsl(226, 100%, 50%);
}

.list li input {
  outline: none;
  width: 0;
  height: 0;
  appearance: none;
  pointer-events: none;
  position: absolute;
}

.list li label::before {
  content: "";
  display: block;
  width: 1rem;
  height: 1rem;
  background: hsl(226, 100%, 90%);
  border-radius: 0.1em;
  display: flex;
  justify-content: center;
  align-items: center;
}

.list li label:hover::before {
  background: hsl(226, 100%, 80%);
}

.list li:has(input:checked) label::before {
  content: "✓";
  background: hsl(226, 100%, 40%);
  color: hsl(226, 100%, 90%);
  font-size: 1rem;
  font-weight: bold;
}

.list li:has(input:checked) label:hover::before {
  background: hsl(235, 100%, 30%);
}

.btn-edit, .btn-delete {
  background: #040140;
  color: hsl(226, 100%, 90%);
  border: none;
  /* padding: 0.5rem; */
  cursor: pointer;
  font-size: 1rem;
  padding-left: 1rem;
  /* border: 1px solid white; */
}

.btn-delete:disabled {
  color: grey;
  cursor: not-allowed;
}